openapi: 3.0.2
info:
  description: |-
    Unofficial API documentation for <a href="https://pixelwalker.net" target="_blank">PixelWalker game</a>.
    
    Hopefully PixelWalker developers will change their mind, and expose OpenApi endpoint like this one and maintain it themselves.
    
    Websocket protocol (WSS) can be found <a href="https://github.com/PixelWalkerGame/Protocol" target="_blank">here</a>.
  version: 2026.3.0
  title: PixelWalker API
tags:
  - name: Server
    description: https://server.pixelwalker.net endpoints.
  - name: Api
    description: https://api.pixelwalker.net endpoints.
  - name: Client
    description: https://client.pixelwalker.net endpoints.
paths:
  /listroomtypes:
    get:
      servers:
        - url: https://server.pixelwalker.net
      tags:
        - "Server"
      summary: "Returns room type"
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                type: "array"
                items:
                  type: "string"
                  description: As of version 2025.12.0, value always 'pixelwalker'.
  /version:
    get:
      servers:
        - url: https://server.pixelwalker.net
      tags:
        - "Server"
      summary: "Returns latest game version"
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: string
  /listblocks:
    get:
      servers:
        - url: https://server.pixelwalker.net
      tags:
        - "Server"
      summary: "Gets all blocks available in PixelWalker"
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: '#/components/schemas/Block'
  /room/list/{roomType}:
    get:
      servers:
        - url: https://server.pixelwalker.net
      tags:
        - "Server"
      summary: Gets lobby information for room type.
      parameters:
        - in: path
          name: roomType
          schema:
            type: string
          required: true
          description: Room type from /listroomtypes
      responses:
        '200':
          description: Successful operation. Returns a list of lobbies.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LobbyResult'
  /worlds/{worldId}/minimap:
    get:
      servers:
        - url: https://server.pixelwalker.net
      tags:
        - "Server"
      summary: Returns minimap image.
      parameters:
        - in: path
          name: worldId
          schema:
            type: string
          required: true
          description: World ID
      responses:
        '200':
          description: Successful operation. Returns the join key.
          content:
            image/png:
              schema:
                type: string
                format: binary
  /api/collections/users/auth-with-password:
    post:
      servers:
        - url: https://api.pixelwalker.net
      tags:
        - "Api"
      summary: Authenticates a user with username/email and password.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                identity:
                  type: string
                  description: The user's username or email address.
                password:
                  type: string
                  description: The user's password.
      responses:
        '200':
          description: Successful authentication.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResultSuccess'
        '400':
          description: Invalid request or credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIFailure'
  /api/joinkey/{roomType}/{roomId}:
    get:
      servers:
        - url: https://api.pixelwalker.net
      tags:
        - "Api"
      summary: Retrieves a join key for a specific room.
      parameters:
        - in: path
          name: roomType
          schema:
            type: string
          required: true
          description: Room type from /listroomtypes
        - in: path
          name: roomId
          schema:
            type: string
          required: true
          description: World ID.
      responses:
        '200':
          description: Successful operation. Returns the join key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JoinKeyResult'
        '403':
          description: Not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIFailure'
  /api/collections/worlds/records:
    get:
      servers:
        - url: https://api.pixelwalker.net
      tags:
        - "Api"
      summary: If authenticated, returns all worlds owned by authenticated user. Otherwise, returns all worlds owned by no one(?).
      parameters:
        - in: query
          name: page
          schema:
            type: integer
            default: 1
          description: The page number to retrieve.
        - in: query
          name: perPage
          schema:
            type: integer
            default: 10
          description: The number of items per page.
      responses:
        '200':
          description: Successful operation. Returns the join key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResultWorlds'
  /api/collections/users/records:
    get:
      servers:
        - url: https://api.pixelwalker.net
      tags:
        - "Api"
      summary: Returns all public profiles.
      parameters:
        - in: query
          name: page
          schema:
            type: integer
            default: 1
          description: The page number to retrieve.
        - in: query
          name: perPage
          schema:
            type: integer
            default: 10
          description: The number of items per page.
      responses:
        '200':
          description: Successful operation. Returns the join key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResultUsers'
  /api/friends:
    get:
      servers:
        - url: https://api.pixelwalker.net
      tags:
        - "Api"
      summary: Returns authenticated user friends.
      responses:
        '200':
          description: Successful operation. Returns the list of friends.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FriendItem'
        '403':
          description: Not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIFailure'
  /api/shop/items:
    get:
      servers:
        - url: https://api.pixelwalker.net
      tags:
        - "Api"
      summary: Returns available shop items. Requires authentication.
      responses:
        '200':
          description: Successful operation. Returns the list of shop items.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ShopItem'
        '403':
          description: Not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIFailure'
  /api/shop/spend/world:
    post:
      servers:
        - url: https://api.pixelwalker.net
      tags:
        - "Api"
      summary: Spends authenticated user's energy on world.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                height:
                  type: integer
                width:
                  type: integer
      responses:
        '200':
          description: Successful energy spend.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopSpendWorldResult'
        '400':
          description: Invalid request or credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIFailure'
  /atlases/sprites.png:
    get:
      servers:
        - url: https://client.pixelwalker.net
      tags:
        - "Client"
      summary: Returns smiley related spritesheet.
      responses:
        '200':
          description: Successful operation.
          content:
            image/png:
              schema:
                type: string
                format: binary
  /atlases/sprites.json:
    get:
      servers:
        - url: https://client.pixelwalker.net
      tags:
        - "Client"
      summary: Returns spritesheet info for sprites.png.
      responses:
        '200':
          description: Successful operation. Returns the list of friends.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AtlasItem'
  /atlases/blocks.png:
    get:
      servers:
        - url: https://client.pixelwalker.net
      tags:
        - "Client"
      summary: Returns block spritesheet.
      responses:
        '200':
          description: Successful operation.
          content:
            image/png:
              schema:
                type: string
                format: binary
  /atlases/blocks.json:
    get:
      servers:
        - url: https://client.pixelwalker.net
      tags:
        - "Client"
      summary: Returns spritesheet info for blocks.png.
      responses:
        '200':
          description: Successful operation. Returns the list of friends.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AtlasItem'
components:
  schemas:
    Block:
      properties:
        Id:
          type: integer
          description: Block ID
        PaletteId:
          type: string
          description: >-
            Useful for mapping, allows you to identify the block in case the numeric ID changes.
            
            This is what they refer to as block name for some reason.
            
            NOTE: There may still be an occasion where the block's name is changed, for eg due to a typo.
        Layer:
          type: integer
          description: |-
            Layer on which block can be placed (empty block is an exception as it can be placed in all layers).
            
            Possible values:
            
            - 0: Background
            
            - 1: Foreground
            
            - 2: Overlay
        Fields:
          type: array
          items:
            oneOf:
              - type: object
                properties:
                  Name:
                    type: string
                    description: Name of the field, used for identifying the field.
                  Type:
                    type: string
                    enum: [ "String" ]
                    description: Type of the field.
                  Description:
                    type: string
                    description: Description describing what this field is for.
                  DefaultValue:
                    type: string
                    description: The default value set for this field. If applicable.
                  Required:
                    type: boolean
                    description: Whether if this field is required.
                  Pattern:
                    type: string
                    description: Regex string to validate the input if not undefined.
              - type: object
                properties:
                  Name:
                    type: string
                  Type:
                    type: string
                    enum: [ "Int32", "UInt32" ]
                  Description:
                    type: string
                  DefaultValue:
                    type: number
                  Required:
                    type: boolean
                  MinValue:
                    type: number
                    description: The minimum possible value for this field.
                  MaxValue:
                    type: number
                    description: The maximum possible value for this field.
                  ExcludedValues:
                    type: array
                    items:
                      type: number
                    description: List of numbers whose values cannot be given for this field.
              - type: object
                properties:
                  Name:
                    type: string
                  Type:
                    type: string
                    enum: [ "Boolean" ]
                  Description:
                    type: string
                  DefaultValue:
                    type: boolean
                  Required:
                    type: boolean
              - type: object
                properties:
                  Name:
                    type: string
                  Type:
                    type: string
                    enum: [ "DrumNote[]", "PianoNote[]", "GuitarNote[]" ]
                  Description:
                    type: string
                  Required:
                    type: boolean
                  MinLength:
                    type: number
                    description: For note fields, it's currently just 1 for now.
                  MaxLength:
                    type: number
                    description: For note fields, it's currently just 6 for now.
        MinimapColor:
          type: integer
          description: >-
            Unsigned 32 bit integer.
            
            (If you need the hex string: use .toString(16) with 16 as the radix and trim off the leading FF. To convert it back to number, use parseInt(hexstring, 16))
        LegacyMorphs:
          type: object
          additionalProperties:
            type: array
            items:
              type: integer
          description: Object where keys are EELVL ID and values are EELVL Block morph arguments. If there is no EELVL ID mapping for block, empty object is returned.
      type: object
    LobbyResult:
      type: object
      description: Lobby information.
      properties:
        visibleRooms:
          type: array
          items:
            $ref: '#/components/schemas/LobbyResultWorld'
        onlineRoomCount:
          type: integer
          description: The total number of online worlds.
        onlinePlayerCount:
          type: integer
          description: The total number of online players across all worlds.
    LobbyResultWorld:
      type: object
      description: Information about a specific world.
      properties:
        id:
          type: integer
          description: ID.
        players:
          type: integer
          description: The current number of players in the world.
        max_players:
          type: integer
          description: The maximum number of players allowed in the world.
        data:
          $ref: '#/components/schemas/LobbyResultWorldData'

    LobbyResultWorldData:
      type: object
      description: Additional data associated with the world.
      properties:
        title:
          type: string
          description: The title of the world.
        description:
          type: string
          description: A description of the world.
        owner:
          type: string
          description: Owner of world.
        ownerRole:
          type: string
          description: "Special role of owner. Observed possible values: [admin, committee, dev, mod, artist]. If owner doesn't have role, empty string returned."
        plays:
          type: integer
          description: The number of times this world has been played.
        minimapEnabled:
          type: boolean
          description: Indicates whether the minimap is enabled for this world.
        type:
          type: integer
          description: "The type of the world. Observed possible values: [0, 1, 2]. Educated guesses of type values: 0 - normal worlds, 1 - unsaved worlds, 2 - legacy worlds with prefix 'legacy:' in world id."
    AuthResultSuccess:
      type: object
      description: Successful authentication result.
      properties:
        record:
          $ref: '#/components/schemas/AuthResultData'
          description: User record data.
        token:
          type: string
          description: The authentication token for future requests.

    AuthResultData:
      type: object
      description: User data returned after successful authentication.
      properties:
        aura:
          type: string
          description: The user's god mode aura.
        bonusEnergy:
          type: integer
          description: Bonus max energy.
        collectionId:
          type: string
          description: The ID of the collection the user belongs to.
        collectionName:
          type: string
          description: The name of the collection the user belongs to.
        created:
          type: string
          format: date-time
          description: The date and time entry was created (ISO 8601 format).
        email:
          type: string
          format: email
          description: The user's email address.
        energyTime:
          type: string
          format: date-time
          description: The date and time for energy recharge.
        id:
          type: string
          description: ID.
        maxEnergy:
          type: integer
          description: Maximum energy value.
        role:
          type: string
          description: "Special role of user. Observed possible values: [admin, committee, dev, mod, artist]. If owner doesn't have role, empty string returned."
        smiley:
          type: string
          description: The user's smiley.
        updated:
          type: string
          format: date-time
          description: The date and time entry was updated (ISO 8601 format).
        username:
          type: string
          description: The user's username.

    APIFailure:
      type: object
      description: Validation error details for specific fields.
      properties:
        data:
          type: object
          description: Validation error details for specific fields.
        message:
          type: string
          description: A human-readable error message (e.g., "Failed to authenticate.").
        status:
          type: integer
          description: "HTTP code (e.g., 400)."

    FieldError:
      type: object
      description: Details of a validation error for a specific field.
      properties:
        code:
          type: string
          description: The error code (e.g., "validation_required").
        message:
          type: string
          description: A human-readable error message (e.g., "Cannot be blank.").
    JoinKeyResult:
      type: object
      description: The result of the join key request.
      properties:
        token:
          type: string
          description: The join key token. This token is used to join the specified room.
    WorldItem:
      type: object
      properties:
        collectionId:
          type: string
          description: The ID of the collection this world belongs to.
        collectionName:
          type: string
          description: The name of the collection this world belongs to (e.g., "worlds").
        created:
          type: string
          format: date-time
          description: The date and time entry was created (ISO 8601 format).
        data:
          type: string
          description: The filename or identifier of the world data file.
        description:
          type: string
          description: A description of the world.  Can be an empty string.
        height:
          type: integer
          description: The height of the world.
        id:
          type: string
          description: The unique identifier of the world.
        maxPlayers:
          type: integer
          description: The maximum number of players allowed in the world.
        minimap:
          type: string
          description: The filename or identifier of the minimap image.  Can be an empty string if no minimap is available.
        minimapEnabled:
          type: boolean
          description: Indicates whether the minimap is enabled for this world.
        owner:
          type: string
          description: The ID of the user who owns this world.
        plays:
          type: integer
          description: The number of times this world has been played.
        title:
          type: string
          description: The title of the world.
        updated:
          type: string
          format: date-time
          description: The last update timestamp in ISO 8601 format (YYYY-MM-DDTHH:mm:ss.sssZ).
        visibility:
          type: string
          description: The visibility of the world (e.g., "public", "private").
        width:
          type: integer
          description: The width of the world.
    CollectionResultWorlds:
      type: object
      properties:
        items:
          type: array
          description: An array of world items.
          items:
            $ref: '#/components/schemas/WorldItem'
        page:
          type: integer
          description: The current page number.
        perPage:
          type: integer
          description: The number of items per page.
        totalItems:
          type: integer
          description: The total number of items available.
        totalPages:
          type: integer
          description: The total number of pages.
    UserItem:
      type: object
      properties:
        aura:
          type: string
          description: The user's god mode aura.
        bonusEnergy:
          type: integer
          description: Bonus max energy.
        collectionId:
          type: string
          description: The ID of the collection the user belongs to.
        collectionName:
          type: string
          description: The name of the collection the user belongs to.
        created:
          type: string
          format: date-time
          description: The date and time entry was created (ISO 8601 format).
        energyTime:
          type: string
          format: date-time
          description: The date and time for energy recharge.
        id:
          type: string
          description: ID.
        maxEnergy:
          type: integer
          description: Maximum energy value.
        role:
          type: string
          description: "Special role of user. Observed possible values: [admin, committee, dev, mod, artist]. If owner doesn't have role, empty string returned."
        smiley:
          type: string
          description: The user's smiley.
        updated:
          type: string
          format: date-time
          description: The date and time entry was updated (ISO 8601 format).
        username:
          type: string
          description: The user's username.
    CollectionResultUsers:
      type: object
      properties:
        items:
          type: array
          description: An array of world items.
          items:
            $ref: '#/components/schemas/UserItem'
        page:
          type: integer
          description: The current page number.
        perPage:
          type: integer
          description: The number of items per page.
        totalItems:
          type: integer
          description: The total number of items available.
        totalPages:
          type: integer
          description: The total number of pages.
    FriendItem:
      type: object
      properties:
        id:
          type: string
          description: User ID.
        username:
          type: string
          description: The user's username.
        role:
          type: string
          description: "Special role of user. Observed possible values: [admin, committee, dev, mod, artist]. If user doesn't have role, empty string returned."
        face:
          type: integer
          description: The user's face ID.
        lastSeen:
          type: string
          format: date-time
          description: The date and time the user was last seen (ISO 8601 format).
        lastWorld:
          type: string
          description: The ID of the last world the user was in.
        lastWorldTitle:
          type: string
          description: The title of the last world the user was in.
    ShopItem:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ShopItemObject'

    ShopItemObject:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the shop item.
        type:
          type: string
          description: The type of the shop item.
        name:
          type: string
          description: The display name of the shop item.
        description:
          type: string
          description: The description of the shop item.
        energyCost:
          type: integer
          description: The energy cost to purchase the item.
        energyPerClick:
          type: integer
          description: The energy received per click for this item.
        isNew:
          type: boolean
          description: Whether the item is new.
        energySpent:
          type: integer
          description: The amount of energy already spent on this item.
        owned:
          type: boolean
          description: Whether the user owns this item.
        percentageOff:
          type: integer
          description: Discount percentage off the original price.
        originalEnergyCost:
          type: integer
          description: The original energy cost before any discounts.
        originalEnergyPerClick:
          type: integer
          description: The original energy per click before any changes.
    AtlasItem:
      type: object
      properties:
        frames:
          type: array
          items:
            type: object
            properties:
              filename:
                type: string
                description: The filename of the sprite.
              frame:
                type: object
                properties:
                  x:
                    type: integer
                  y:
                    type: integer
                  w:
                    type: integer
                  h:
                    type: integer
              rotated:
                type: boolean
              trimmed:
                type: boolean
              spriteSourceSize:
                type: object
                properties:
                  x:
                    type: integer
                  y:
                    type: integer
                  w:
                    type: integer
                  h:
                    type: integer
              sourceSize:
                type: object
                properties:
                  w:
                    type: integer
                  h:
                    type: integer
              pivot:
                type: object
                properties:
                  x:
                    type: number
                  y:
                    type: number
        meta:
          type: object
          properties:
            app:
              type: string
            version:
              type: string
            image:
              type: string
            format:
              type: string
            size:
              type: object
              properties:
                w:
                  type: integer
                h:
                  type: integer
            scale:
              type: number
    ShopSpendWorldResult:
      type: object
      properties:
        bonusEnergy:
          type: integer
        energyTime:
          type: string
          format: date-time
        itemEnergySpent:
          type: integer
        maxEnergy:
          type: integer
  securitySchemes:
    ApiKey:
      type: apiKey
      name: Authorization
      in: header
      description: 'JWT token obtained from /api/collections/users/auth-with-password'
security:
  - ApiKey: [ ]